

<section class="current_recent">
<h3 class= "current">CURRENT:</h3>
<ul>
  <li>Student at DevPoint Labs</li>
  <li>Manager at Family Hair Care</li>
</ul>

<br/>

<br/>

<h3 class ="recent">RECENT:</h3>
<ul>
	<li>Taught English in Costa Rica, Morocco and Spain</li>
	<li>Studied World Religions and Theology</li>
	<li>Worked as Festival Photographer</li> 
</ul>
</section>



<section class= "moi">
<!-- for background purposes -->
<img src="http://i.imgur.com/tHRvolO.jpg">
</section>


