<html>
<head>
  <title>Sinatra Project</title>
  <link href="stylesheets/stylesheet.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'>
</head>
<body>
    <h1>Julia Dahm</h1>
    <p>~ Code/Travel/Flow-Arts Enthusiast ~</p>
    <p>(Possibly too easily enthused)</p>
    <nav>
        <a href="/">Home</a>
        <a href="/resume">Resume</a>
        <a href="/contact">Contact</a>
    </nav>
    <%= yield %>
    </body>
</html>
