<h2> Resume </h2>

<br>


<ul>
    <caption>Job History</caption> 
    <li>Salon Manager</li>
    <li>TEFL Certified Teacher</li>
    <li>Traveling Photographer</li>
    <li>Owned online vintage/secondhand store</li>
</ul>

<br>

<ul>
    <caption>Education</caption>
    <li>Indian River State College - 2yrs</li>
    <li>Palm Beach State College - 2yrs</li>
    <li>TEFL certification course - 6mnths</li>
</ul>